<script>
  export let data = [];
  export let xScale;
  export let yScale;
  export let alignLeft;
  export let buildingHeight;

  let pathGeneratorBetween = (d) => {
    let path = "M 0," + yScale(0);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale(value);
    });
    return path + " " + xScale(d.length) + "," + yScale(0) + "Z";
  };
</script>

{#each Object.keys(data) as building, building_idx}
  <g transform="translate({alignLeft}, {building_idx * buildingHeight})">
    <g transform="translate({-alignLeft}, {buildingHeight})">
      <text>{building}</text>
    </g>
    <path d={pathGeneratorBetween(data[building])} />
  </g>
{/each}

<style>
  path {
    stroke: black;
    stroke-width: 0.1px;
    fill: black;
  }
  text {
    font-size: 8px;
    font-style: oblique;
    
  }
</style>
