<script>
  export let data = [];
  export let rScaleHeating;
  export let rScaleCooling;
  export let angleScale;

  let pathGeneratorHeating = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path +=
        " " +
        rScaleHeating(value) * Math.cos(angleScale(idx + 1)) +
        "," +
        rScaleHeating(value) * Math.sin(angleScale(idx + 1));
    });
    return path + " " + "Z";
  };

  let pathGeneratorCooling = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path +=
        " " +
        rScaleCooling(value) * Math.cos(angleScale(idx + 1)) +
        "," +
        rScaleCooling(value) * Math.sin(angleScale(idx + 1));
    });
    return path + " " + "Z";
  };
</script>

<path class="cooling" d={pathGeneratorCooling(data["cooling"])} />
<path class="heating" d={pathGeneratorHeating(data["heating"])} />

<style>
  .heating {
    stroke: red;
    stroke-width: 0.5px;
    fill: red;
    fill-opacity: 50%;
  }

  .cooling {
    stroke: blue;
    stroke-width: 0.5px;
    fill: blue;
    fill-opacity: 50%;
  }
</style>
