<script>
  export let location = "Baltimore";
  let cities = ["Baltimore", "Chicago", "Los Angeles"];
</script>

<div class="row">
  <div class="col">
    <label for="form-check"><b>Location</b></label>
    {#each cities as city}
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="location"
          id={city}
          value={city}
          bind:group={location}
        />
        <label class="form-check-label" for={city}>
          {city}
        </label>
      </div>
    {/each}
  </div>
  <div class="col">
    <label for="form-check2"><b>Scaling</b></label>
    <div class="form-check2">
      <input
        class="form-check-input"
        type="radio"
        name="scaling"
        id="across"
        value="across"
        checked
      />
      <label class="form-check-label" for="across">
        Accross all building types
      </label>
    </div>
    <div class="form-check2">
      <input
        class="form-check-input"
        type="radio"
        name="scaling"
        id="within"
        value="option5"
      />
      <label class="form-check-label" for="within">
        Within building types
      </label>
    </div>
  </div>
</div>
