<script>
  import { scaleLinear } from "d3-scale";
  export let data = [];
  export let treeLength;

  $: xScale = scaleLinear().domain([0, 168]).range([0, 100]);
  $: yScaleElectricity = scaleLinear().domain([0, 1000]).range([20, 0]);
  $: yScaleGas = scaleLinear().domain([0, 2000]).range([20, 40]);

  let pathGeneratorElectricityLeft = (d) => {
    let path = "M 0," + yScaleElectricity(0);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) * -1 + "," + yScaleElectricity(value);
    });
    return path + " " + xScale(d.length) * -1 + "," + yScaleElectricity(0);
  };

  let pathGeneratorElectricityRight = (d) => {
    let path = "M 0," + yScaleElectricity(0);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScaleElectricity(value);
    });
    return path + " " + xScale(d.length) + "," + yScaleElectricity(0);
  };

  let pathGeneratorGasLeft = (d) => {
    let path = "M 0," + yScaleGas(0);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) * -1 + "," + yScaleGas(value);
    });
    return path + " " + xScale(d.length) * -1 + "," + yScaleGas(0);
  };

  let pathGeneratorGasRight = (d) => {
    let path = "M 0," + yScaleGas(0);
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScaleGas(value);
    });
    return path + " " + xScale(d.length) + "," + yScaleGas(0);
  };
</script>

{#each Object.keys(data) as week, week_idx}
  <g transform="translate({0}, {(treeLength * (6 - week_idx)) / 7} )">
    {#if week_idx & 1}
      <path
        class="electricity left"
        d={pathGeneratorElectricityLeft(data[week]["electricity"])}
      />
      <path class="gas left" d={pathGeneratorGasLeft(data[week]["gas"])} />
      <text x="-100">Week {week}</text>
    {:else}
      <path
        class="electricity right"
        d={pathGeneratorElectricityRight(data[week]["electricity"])}
      />
      <path class="gas right" d={pathGeneratorGasRight(data[week]["gas"])} />
      <text x="100">Week {week}</text>
    {/if}
  </g>
{/each}

<style>
  .electricity {
    fill: blue;
  }
  .gas {
    fill: orange;
  }
  .left {
    transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
  }
  text {
    font-size: small;
    font-style: oblique;
    dominant-baseline: middle;
    text-anchor: middle;
  }
</style>
