<script>
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";
  import ClockPlot from "./_design_2_circleplot.svelte";

  // Read the data
  let datapoints = [];
  fetch("/data/daily_heating_cooling.json")
    .then((res) => res.json())
    .then((data) => (datapoints = data));

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Clock and label
  const clockRadius = innerHeight / 3;
  const radians = Math.PI / 180;
  const clockTime = [3, 6, 9, 12];
  const monthRadius = clockRadius + margin.left;

  let transformed_data = {};
  $: {
    datapoints.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = { heating: [], cooling: [] };
      }
      transformed_data[d.city]["heating"].push(d.heating);
      transformed_data[d.city]["cooling"].push(d.cooling);
    });
  }

  $: rScaleHeating = scaleLinear()
    .domain(extent(datapoints.map((d) => d.heating)))
    .range([0, clockRadius]);
  $: rScaleCooling = scaleLinear()
    .domain(extent(datapoints.map((d) => d.cooling)))
    .range([0, clockRadius]);
  $: angleScale = scaleLinear()
    .domain([1, 365])
    .range([-60 * radians, 300 * radians]);  // The first day of the year start at 1h on the clock
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as city, city_idx}
      <g
        transform="translate({(innerWidth / 6) *
          (city_idx * 2 + 1)},{innerHeight / 2})"
      >
        <!-- Draw clock time -->
        {#each clockTime as month, month_idx}
          <text
            x={monthRadius * Math.cos(90 * radians * month_idx)}
            y={monthRadius * Math.sin(90 * radians * month_idx)}>{month}</text
          >
        {/each}
        
        <!-- Draw clock circle -->
        <circle r={clockRadius} cx="0" cy="0" />
        <line
          x1={-clockRadius}
          y1="0"
          x2={clockRadius}
          y2="0"
          stroke="black"
          stroke-width="1"
        />

        <!-- Draw lines that split the clock into 4 -->
        <line
          x1="0"
          y1={-clockRadius}
          x2="0"
          y2={clockRadius}
          stroke="black"
          stroke-width="1"
        />
        <text x="0" y={-clockRadius - 30} font-weight="bold">{city}</text>

        <!-- Add heating and cooling -->
        <ClockPlot
          data={transformed_data[city]}
          {rScaleHeating}
          {rScaleCooling}
          {angleScale}
        />
      </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  circle {
    border: 1px;
    fill: white;
    stroke: black;
    fill-opacity: 0.5;
  }

  text {
    font-size: small;
    font-style: oblique;
    dominant-baseline: middle;
    text-anchor: middle;
  }
</style>
