<script>
  // Import
  import Leaf from "./_design_3_leafplot.svelte";

  // Read the data
  let datapoints = [];
  fetch("/data/hourly_electricity_vs_gas_december.json")
    .then((res) => res.json())
    .then((data) => (datapoints = data));

  let transformed_data = {};
  $: {
    datapoints.forEach((d) => {
      if (!(d.week in transformed_data)) {
        transformed_data[d.week] = { electricity: [], gas: [] };
      }
      transformed_data[d.week]["electricity"].push(d.total_electrity);
      transformed_data[d.week]["gas"].push(d.total_gas);
    });
  }

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Tree params
  const treeLength = (innerHeight * 3) / 4;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <g transform="translate({innerWidth / 2},0)">
      <Leaf data={transformed_data} {treeLength} />
      <!-- Draw the tree -->
      <polygon
        class="tree"
        points="0,{treeLength / 6} {-margin.left /
          2},{treeLength} {margin.right / 2},{treeLength}"
      />
      <text y={(treeLength * 8) / 7}>Chicago</text>
      <text y={(treeLength * 8) / 7 + 20}>December 2014</text>
    </g>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .tree {
    fill: black;
  }
  text {
    font-size: large;
    font-style: oblique;
    dominant-baseline: middle;
    text-anchor: middle;
  }
</style>
