<script>
  import Control from "./_design_1_control.svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  import LinePlot from "./_design_1_lineplot.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const buildingHeight = innerHeight / 16;
  const alignLeft = margin.left * 8;

  let city = "Baltimore";
  let scaling = "within";

  // Read the data
  let datapoints = [];
  fetch("/data/hourly_heating_december.json")
    .then((res) => res.json())
    .then((data) => (datapoints = data));

  let transformed_data = {};
  $: {
    datapoints.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = {};
      }
      if (!(d.buildingtype in transformed_data[d.city])) {
        transformed_data[d.city][d.buildingtype] = [];
      }
      transformed_data[d.city][d.buildingtype].push(d.total_heating_energy);
    });
  }

  $: xScale = scaleLinear()
    .domain([1, 744])
    .range([0, innerWidth - alignLeft]);
  $: yScale = scaleLinear()
    .domain(extent(datapoints.map((d) => d.total_heating_energy)))
    .range([buildingHeight, 0]);

  // // Dynamic yScale
  // function getData(data, scaling, city, building) {
  //   let filterData;
  //   if (!data) {
  //     filterData = data.filter((d) => d.city == city);
  //     if (scaling == "within") {
  //       return filterData.filter((d) => d.buildingtype == building);
  //     } else {
  //       return filterData;
  //     }
  //   }
  // }
</script>

<div>
  <Control bind:location={city} />

  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <LinePlot
        data={transformed_data[city]}
        {xScale}
        {yScale}
        {alignLeft}
        {buildingHeight}
      />
    </g>
  </svg>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
