<script>
  let clicked = false;
</script>

<style>
  div {text-align: center;}
</style>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <!-- condition -->
  <div>
    {#if clicked == true}
    You have clicked the button!
    {:else}
    You have to click the button!
    {/if}
  </div>
</div>
