<script>
  let current = "";
</script>

<style>
  .colchange{
    background-color: darkorange;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:colchange = {current == "messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:colchange = {current == "ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:colchange = {current == "neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>
