<script>
    let student = { name: 'Yen', favorite_things: ['my cats', 'my boyfriend']};
    console.log(student.name);
    console.log(student.favorite_things);
</script>

<p>My name is {student.name} and these are some of my favourite things: {student.favorite_things} .</p>