<script>
    let radius = 5
    const circumference = (r) => 2*Math.PI*r;
    console.log(radius);
    console.log(circumference(radius).toFixed(2));
</script>

<p>The circumference of a circle with radius {radius}m is {circumference(radius).toFixed(2)}m .</p>