<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let continent = "all";
  export let year = 0;
  
  // set initial value of the start/stop button
  let value = "Start";
  let start = true;

  // set variable for animation
  let count;

  // add year to the animation
  const addYear = () => {
    if (year == 214) { year = 0; } else { year++; } }

  // change Start to Stop and vice versa
  const toggle = () => {
    if (start == false) {
      start = true; value = "Start"; clearInterval(count);
    } else {
      start = false; value = "Stop"; count = setInterval(addYear, 50);
    } 
  }
    
  // reset button
  const reset = () => {
    start = true; value = "Start"; clearInterval(count); year = 0;
  }
</script>

<div class="row">
  <!-- start/stop button -->
  <div class="col-auto">
    <button class="btn btn-primary" on:click={toggle}>{value}</button>
    <button class="btn btn-primary" on:click={reset}>Reset</button>
  </div>

  <!-- slider -->
  <div class="col-auto">
    <label>
      Year: {year+1800}
      <input type="range" class="form-range" min={0} max={214} bind:value={year} step="1">
    </label>
  </div>
  
  <!-- drop-down menu -->
  <div class="col-auto">
    <select name="continents" id="continents" class="form-select" bind:value={continent}>
      <option value="all">all</option>
      {#each continents as continent}
        <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>
</div>