<script>
	let count = 0;
	const handleClick = () => {count++}
    const resetClick = () => {count = 0}
</script>

<!-- count button -->
<button class="btn btn-primary" on:click={handleClick}>
	Clicked {count} times
</button>
<!-- reset button -->
<button class="btn btn-danger" on:click={resetClick}>
	Reset
</button>