<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  // Opacity
  let opacity = Array(points.length).fill(0.3);

  // Count down
  const countDown = () => { index--; }

  // Set interval
  const interval = setInterval(countDown, 1000);

  // Change opacity
  function changeOpacity(ind) {
      opacity[ind] = 1;
  }

  // Change color
  function changeColor(ind) {
    if (ind == -1) {
      color = "darkgreen";
      clearInterval(interval);
    }
  }

  $: changeOpacity(index);
  $: changeColor(index);
  // $: console.log(index);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point, ind}
      <circle cx={point} cy={innerHeight/2} r="10" fill={color} opacity={opacity[ind]} />
    {/each}
  </g>
</svg>
