<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  let filteryear = 0;
  let filtercontinent = "all";
  
  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  // filter data
  const continents = ["europe", "asia", "americas", "africa"];

  function filterData(year, continent) {
    let datatemp = data[year]['countries'].filter(d => d.income != null && d.life_exp != null && d.population != null);
    if (continents.includes(continent)) {
      return datatemp.filter(d => d.continent == continent);
    }
    return datatemp;
  }

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={filterData(filteryear, filtercontinent)} />
    <Controls bind:year={filteryear} bind:continent={filtercontinent} />
  </div>
{/if}