<script>
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { schemeTableau10 } from 'd3-scale-chromatic';
  import { select } from 'd3-selection';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { extent } from 'd3-array';

  export let data = [];
  export let year;
  
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // var
  let income = data.map(d => d.income);
  let life_exp = data.map(d => d.life_exp);
  let population = data.map(d => d.population);
  let continent = data.map(d => d.continent);
  
  // x and y axis
  const xScale = scaleLinear()
  .domain(extent(income))
  .range([0,innerWidth]);

  const yScale = scaleLinear()
  .domain([0,90])
  .range([innerHeight,0]);

  const radiusScale = scaleLinear()
  .domain(extent(population))
  .range([5,15]);

  const colorScale = scaleOrdinal(schemeTableau10)
  .domain(extent(continent));

  function xAxis(handle) {
    axisBottom(xScale)
    .ticks(2, "$.0f")
    .tickValues([400,4000])
    (select(handle));
  }
  
  function yAxis(handle) {
    axisLeft(yScale)(select(handle));
  }

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    // scatterplot
    <g>
      {#each data as datapoint}
        {#if datapoint.income != null && datapoint.life_exp != null && datapoint.population != null}
          <circle class = "country"
                  cx={xScale(+datapoint.income)}
                  cy={yScale(+datapoint.life_exp)}
                  r={radiusScale(+datapoint.population)}
                  fill={colorScale(datapoint.continent)}>
            <title>{datapoint.country}</title> 
          </circle>
        {/if}
      {/each}
    </g>

    // x and y-axis
    <g use:yAxis>
      <text class="axis-title" x={-innerHeight/2} y="-30" transform="rotate(-90)">Life Expectancy</text>
    </g>
    <g transform="translate(0,{innerHeight})" use:xAxis>
      <text class="axis-title" x={innerWidth/2} y="35">GDP per Capita</text>
    </g>

    // title and text
    <g>
      <text class="title" x={innerWidth/2} y="0" fill="currentcolor">Gapminder Scatterplot</text>
      <text class="year" x={innerWidth} y={innerHeight-10} fill="currentcolor">{year}</text>
    </g>
  </g>
</svg>

<style>
  .axis-title {
    font-size: 1.75em;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }

  .title {
    font-size: 2.25em;
    text-anchor: middle;
  }

  .year {
    font-size: 2.25em;
    opacity: .4;
    text-anchor: end;
  }

  .country {
    opacity: .8;
  }
</style>
