<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // d3
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent, max, min } from 'd3-array';

  let maxX = max(values.map(d => d.x));
  let maxY = max(values.map(d => d.y));
  let categories = values.map(d => d.category);

  const xScale = scaleLinear()
  .domain([0,maxX+1])
  .range([0,innerWidth]);

  const yScale = scaleLinear()
  .domain([0,maxY])
  .range([innerHeight,0]);

  const catScale = scaleOrdinal(schemeDark2)
  .domain(extent(categories))


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as datapoint}
      <line x1={xScale(datapoint.x)} y1={yScale(datapoint.y)} x2={xScale(datapoint.x)} y2={innerHeight} />
      <circle cx={xScale(datapoint.x)} cy={yScale(datapoint.y)} fill = {catScale(datapoint.category)} r="5" />
      <text x={xScale(datapoint.x)} y={yScale(datapoint.y)-10}>{datapoint.y}</text>
    {/each}

    <line x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight}></line>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

  line {
    stroke: black;
  }
</style>
