<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // d3
  import { scaleLinear, scaleBand } from 'd3-scale';
  import { axisLeft, axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

  let services = data.map(d => d.service);

  const xScale = scaleBand()
  .domain(services)
  .range([0,innerWidth]);

  const yScale = scaleLinear()
  .domain([0,3])
  .range([innerHeight,0]);

  function xAxis(handle) {
    axisBottom(xScale)(select(handle));
  }
  
  function yAxis(handle) {
    axisLeft(yScale)(select(handle));
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    // bar
    <g>
      {#each data as datapoint}
        <rect x={xScale(datapoint.service)+10}
              y={yScale(datapoint.viewers)}
              width={(innerWidth/services.length)-20}
              height={innerHeight-yScale(datapoint.viewers)}
              fill="steelblue" />
      {/each}
    </g>

    // x and y-axis
    <g transform="translate(0,0)" use:yAxis>
        <text x={-innerHeight/2} y="-30" text-anchor="middle" fill="currentcolor" transform="rotate(-90)">Viewers (Million)</text>
    </g>
    <g transform="translate(0,{innerHeight})" use:xAxis />
  </g>
</svg>
