<script>
    import Scatterplot from './_ex_7_scatterplot.svelte';
    import { onMount } from 'svelte';
  
    let year = "1800";
    let data = null;
    onMount(async () => {
      data = await fetch('/data/gapminder.json')
      .then(response => response.json())
      .then(data => data.filter(d=>d["year"]==year)[0].countries);
    });
  </script>
  
  {#if data != null}
    <Scatterplot data={data} year={year}/>
  {:else}
    The data is being loaded.
  {/if}
  
